
ion-text{

  position: absolute;
  //top: 20%;
  //width: 100%;

  top: 15%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  h1{
    text-align: center;
    font-size: 40px;
  }
  p{
    text-align: center;
  }
}



.login-text {

  ion-input{

    border-radius: 15px !important;
    padding-right: 50px;
    font-size: 1em;
    border: 3px solid #67529a !important;
    --background: rgba(223, 245, 243, 0.07) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 100vw; // this is applying perfectly
    max-height: 50vh;
  }
  .username{

    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 224px;

  }
  .password{
    position: absolute;
    top: 36.8%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 224px;
  }

}

.sigin-btn{
  --background: linear-gradient(90deg, #8c36a5 0%, #664bdc 100%);
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  //height: 7%;
  font-size: 15px;

}



